In [1]:
from sklearn.datasets import load_iris
import pandas as pd

def load_train_data():
    iris = load_iris()
    df = pd.DataFrame(iris.data, columns=["col1", "col2", "col3", "col4"])
    df["species"] = iris.target
    return df

In [2]:
df = load_train_data()
df.head()

   col1  col2  col3  col4  species
0   5.1   3.5   1.4   0.2        0
1   4.9   3.0   1.4   0.2        0
2   4.7   3.2   1.3   0.2        0
3   4.6   3.1   1.5   0.2        0
4   5.0   3.6   1.4   0.2        0

In [3]:
df2 = df.sample(frac=0.4, random_state=14)
df2.head()

     col1  col2  col3  col4  species
24    4.8   3.4   1.9   0.2        0
42    4.4   3.2   1.3   0.2        0
6     4.6   3.4   1.4   0.3        0
53    5.5   2.3   4.0   1.3        1
113   5.7   2.5   5.0   2.0        2

In [4]:
df2.describe(), df.describe()

(            col1       col2       col3       col4    species
 count  60.000000  60.000000  60.000000  60.000000  60.000000
 mean    5.663333   3.080000   3.420000   1.038333   0.866667
 std     0.759564   0.484611   1.747521   0.733252   0.832938
 min     4.400000   2.200000   1.000000   0.200000   0.000000
 25%     5.000000   2.775000   1.500000   0.200000   0.000000
 50%     5.700000   3.000000   4.000000   1.200000   1.000000
 75%     6.225000   3.400000   5.000000   1.550000   2.000000
 max     7.700000   4.400000   6.700000   2.400000   2.000000,
              col1        col2        col3        col4     species
 count  150.000000  150.000000  150.000000  150.000000  150.000000
 mean     5.843333    3.057333    3.758000    1.199333    1.000000
 std      0.828066    0.435866    1.765298    0.762238    0.819232
 min      4.300000    2.000000    1.000000    0.100000    0.000000
 25%      5.100000    2.800000    1.600000    0.300000    0.000000
 50%      5.800000    3.000000    4.350000    1.300000    1.000000
 75%      6.400000    3.300000    5.100000    1.800000    2.000000
 max      7.900000    4.400000    6.900000    2.500000    2.000000)

In [7]:
import requests

def send_request(data):
    url = 'http://localhost:8000/predict/logistic_model'
    payload = {"sepal_length": data.col1, "sepal_width": data.col2, "petal_length": data.col3, "petal_width": data.col4}
    headers = {'content-type': 'application/json', 'accept': 'application/json'}
    r = requests.post(url, json=payload, headers=headers)
    return r.json()['prediction']

In [8]:
df2.apply(send_request, axis=1)

24     0
42     0
6      0
53     1
113    2
58     1
40     0
96     1
23     0
97     1
106    1
18     0
103    2
141    2
20     0
89     1
29     0
112    2
148    2
95     1
5      0
22     0
7      0
54     1
44     0
108    2
2      0
92     1
66     1
47     0
39     0
93     1
73     1
14     0
69     1
36     0
149    2
80     1
119    2
51     1
125    2
46     0
15     0
82     1
111    2
134    2
34     0
8      0
38     0
87     1
49     0
26     0
122    2
145    2
86     1
136    2
142    2
33     0
55     1
116    2
dtype: int64